[Unit]
Description=Carnine Flutter Frontend
After=systemd-udev-settle.service carnine-backend.service plymouth-start.service
Before=getty@tty1.service
Conflicts=getty@tty1.service
Wants=carnine-backend.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=30s
User=carnine
Group=carnine
SupplementaryGroups=render video input
Environment=CARNINE_FLUTTER_PI=1
Environment=CARNINE_LOG_PATH=/var/log/carnine/frontend.log
ExecStartPre=-+/usr/bin/systemctl stop carnine-getty-fallback.timer
ExecStart=/usr/bin/carnine-frontend
ExecStopPost=-+/usr/bin/systemd-run --on-active=5s --unit=carnine-getty-fallback -- /usr/bin/systemctl start getty@tty1.service
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target